.headline-primary {
  animation: 4s linear infinite alternate-reverse headline-primary-ts;
  color: $light-blue;
  text-shadow: 2px 2px 1px $light-red,
               -2px -2px 1px $light-orange,
               2px -2px 1px $light-yellow,
               -2px 2px 1px $light-green;
  text-transform: uppercase;
}

.headline-secondary {

}