@import url('//fonts.googleapis.com/css?family=Noto+Sans');
@import url('//fonts.googleapis.com/css?family=Gloria+Hallelujah');

//Fontstacks
$primary-fonts: 'Gloria Hallelujah', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$secondary-fonts: 'Noto Sans', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;

//Dice dots
$dice-size: 1vw;

//Font sizes for typography
$fs-xxx-large: 3.998rem;
$fs-xx-large: 2.827rem;
$fs-x-large: 1.999rem;
$fs-large: 1.414rem;
$fs-normal: 1rem;
$fs-small: 0.707rem;
$fs-x-small: 0.5rem;
$fs-xx-small: 0.354rem;

//Colors
$light-blue: #eefbff;

$light-red: #ff5959;

$light-orange: #ffc252;

$light-yellow: #ffea52;

$light-green: #52ff5d;

$grey: #9a9a9a;
$light-grey: lighten($grey, 20%);


//Grid / Layout
$grid-max: 12;