@import url('//fonts.googleapis.com/css?family=Alice');
@import url('//fonts.googleapis.com/css?family=Gloria+Hallelujah');

$primary-fonts: 'Gloria Hallelujah', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$secondary-fonts: 'Alice', 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;

$dice-size: 2vw;